a,
button {
  cursor: pointer;
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: Poppins, sans-serif;
  color: white;
  background: linear-gradient(0.375turn, #4724a7, #a585ff);
}

.logo {
  height: 4rem;
  width: auto;
}

.poppins-font {
  font-family: Poppins, sans-serif;
}

.glass-card {
  background-color: rgba(255, 255, 255, 0.35);
}

.glass-container {
  margin-top: 5rem;
  width: 70rem;
  height: 20rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border: 0.5px solid white;
  overflow-x: auto;
  position: relative;
  z-index: 1;
}

.search-bar {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  height: 12rem;
  border-radius: 25px;
  position: sticky;
  z-index: 2;
}

.navbar {
  justify-content: center;
}

.card {
  width: 100%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.card-img-top {
  width: 100%;
  min-height: 15rem;
  object-fit: cover;
}

.card-body {
  background-color: #9478e3;
}

.card-title {
  font-weight: 600;
}

.user-list {
  margin-top: 1.5rem;
}

.user-card {
  padding-left: calc(var(--bs-gutter-x) * 1.5);
  padding-right: calc(var(--bs-gutter-x) * 1.5);
}

.card-rank-icon {
  width: 5rem;
  height: 5rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.card-role-icon {
  width: 20%;
  height: 20%;
  margin-left: 2rem;
  margin-right: 2rem;
}

.card-champion-icon {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: 4.5rem;
  height: 4.5rem;
}

.filter-form {
  color: black;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.filter-select {
  width: 15rem;
  min-height: 35px;
  height: 35px;
  color: black;
}

.filter-text {
  color: white;
  display: inline-block;
  background-color: black;
  width: 10rem;
}

.filter-container {
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.filter-icons {
  width: 1.2rem;
  height: 1.2rem;
  margin-left: 0.3rem;
}

span {
  align-content: center;
}

.search-button {
  text-decoration: none;
  background-color: #7761b6;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  color: white;
  font-family: Poppins, sans-serif;
  border: none;
  text-align: center;
  width: 6rem;
}

.button-container {
  margin: 0.5rem auto;
  text-align: center;
}

.search-button:hover {
  color: #9478e3;
}

.search-button:active {
  transform: translateY(2px);
}

.search-container {
  display: flex;
  flex-direction: column;
}

.user-profile {
  margin-top: 1rem;
  flex-direction: column;
  overflow: scroll;
}

.user-details-container {
  width: 20rem;
  height: auto;
  margin: 0.75rem auto;
  border-radius: 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.user-profile-picture {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.user-profile-name {
  color: white;
  font-weight: 800;
  font-size: 2rem;
}

.user-profile-bio {
  color: white;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1.5rem;
}

.user-rank-container {
  width: 20rem;
  height: auto;
  margin: 0.75rem auto;
  border-radius: 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.profile-headings {
  margin-top: 1rem;
  color: white;
  text-decoration: underline;
  font-weight: 600;
}

.profile-rank-icon {
  width: 12rem;
  height: 12rem;
}

.profile-rank {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

.user-role-container {
  width: 20rem;
  height: auto;
  margin: 0.75rem auto;
  border-radius: 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.profile-role-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 1rem;
}

.profile-role-icon-container {
  width: 50%;
}

.profile-role {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

.user-champion-container {
  width: 20rem;
  height: auto;
  margin: 0.75rem auto;
  border-radius: 30px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.profile-champion {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

.profile-champion-section {
  margin-top: 1rem;
}

/* user list: single column */
@media screen and (min-width: 391px) and (max-width: 768px) {
  .search-bar {
    height: 12rem;
  }

  .card-rank-icon {
    margin-left: 9rem;
    margin-right: 9rem;
  }

  .card-role-icon {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

/* user list: double column and wider */
@media screen and (min-width: 769px) {
  /* .search-bar {
  height: 4rem;
} */
}

/* user list: triple column */
@media screen and (min-width: 992px) {
  .filter-container {
    margin-top: 0.25rem;
    margin-bottom: 0;
  }

  .card-role-icon {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .card-rank-icon {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .card-champion-icon {
    width: 4rem;
    height: 4rem;
  }

  .search-bar {
    height: 4rem;
  }

  .search-button {
    margin-top: -0.5rem;
  }

  .search-container {
    display: flex;
    flex-direction: row;
    height: 3rem;
  }

  .user-profile {
    flex-direction: row;
    margin-top: 0;
    height: 100%;
    position: fixed;
  }

  .user-profile-picture {
    width: 14rem;
    height: 14rem;
  }

  .user-details-container {
    min-height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -1rem;
    margin-right: 1.5rem;
    width: 20rem;
  }

  .user-profile-name {
    margin-bottom: 0.5rem;
  }

  .profile-headings {
    font-size: 1.75rem;
    margin-top: 1.25rem;
    margin-bottom: 1rem;
  }

  .rank-role-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .user-rank-container,
  .user-role-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 50%;
  }

  .profile-rank-icon-container {
    margin-bottom: 0.5rem;
  }

  .profile-role-section {
    margin-top: 3rem;
  }

  .profile-role-icon {
    width: 6rem;
    height: 6rem;
  }

  .user-champion-container {
    margin: 1rem;
  }

  .profile-champion-section {
    margin: 2rem 4.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .card-rank-icon {
    margin-left: 7rem;
    margin-right: 7rem;
  }
}
